#
# Autotools
#
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/stamp-*
.deps/
.dirstamp
*.log
*.trs

#
# Binaries
#
/src/rastertobrlaser
/src/brdecode
/test/test_lest
/test/test_line
/test/test_block
/brlaser.drv
*.o
