name: build
on: [ push, pull_request ]
jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [ clang++, gcc++, gcc-9++, gcc-10++ ]
    steps:
      - name: Add repository
        run: sudo apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
      - name: Configure
        run: cmake .
      - name: Make
        run: make
        env:
          CXX: ${{ matrix.compiler }}
      - name: Run tests
        run: make check
  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [ clang++, gcc++ ]
    steps:
      - name: Configure
        run: cmake .
      - name: Make
        run: make
        env:
          CXX: ${{ matrix.compiler }}
      - name: Run tests
        run: make check
